
/* 
*{
    border:dashed;
} */
.container{
    height: 100%;

    display: grid;
    grid-gap: 3px;
    grid-template-columns:(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "n n"
        "r r"
        "i c"
        "e x"
        "a x"
        "s .";
}



/* nav {
    grid-area: n;
    display: grid;
    background-color:rgb(89, 202, 240);
    grid-template-columns: repeat(5, 1fr);
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    font-weight:400;
    font-style: bold;
    margin-top: -10px;
    margin-left: -10px;
    margin-right:-10px; 
    width:auto;
  
  } */
  
  nav a{
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-size: 1em;
    color:rgb(35, 100, 175);
    position:relative;
    top:80px;
    margin: 0 auto;
    text-decoration:none; 
    overflow: hidden;
    
  }
  
  a{
    height: 90px;
  }
  
  nav a::before{
    position: absolute;
    content: '';
    bottom: 60px;
    width: 100px;
    height: 4px;
    transform: translateX(-100%);
    transition: .4s;
    background:linear-gradient(to left, #6a0dad,#0000ff,#72C347,#C4D82E,#F7CE32,#ffa500, #e63570);
    /* position: absolute;
    bottom: 2px; */
  }
  
  nav a:hover:before{
    transform: translateX(0);
    
  }
  

/* rainbow stripe */

.rainbow-horizontal{
    background: linear-gradient(to left, #6a0dad,#0000ff,#72C347,#C4D82E,#F7CE32,#ffa500, #e63570);
    display: block;
    float: left;
    width: 100%;
    height: 5px;
    grid-area:r;
    margin-left: -10px;
    margin-right:-10px;
    margin-top: -8px;
  }

#intro{
    grid-area: i;
    position:relative;
    left: 3em;
    width:80%;
}
#contact{
    grid-area: c;
    position: relative;
    margin-top: 50px;
    box-align:right;
    margin-left: -em;

}
#contact li {
    list-style:none;
    margin-left:0;
}

#education{
    grid-area: e;
    /* margin:0 auto; */
    margin-left: 3em;
}

#experience{
    grid-area: x;
    /* margin:0 auto; */
    margin-left: 2em;
    margin-right: 3em;
}

#awards{
    grid-area: a;
    margin:0 auto;
    margin-left: 3em;
}

#skills{
    grid-area:s;
    margin-left: 3em;
    padding-bottom:2em;
}
/* 3 column grid */
.sub-container{
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: (3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "q d f";
}

#qualities{
    grid-area: q;
    font-family: 'Roboto', sans-serif;
    /* font-style: bold; */
    font-size: 12pt;
}

#design{
    grid-area: d;
    font-family: 'Roboto', sans-serif;
    /* font-style: bold; */
    font-size: 12pt;
}

#software{
    grid-area: f;
    font-family: 'Roboto', sans-serif;
    /* font-style: bold; */
    font-size: 12pt;

}

#bottom{
    font-size: 30px;
    position: absolute;
    margin-top: 40px;
    font-weight: 600;
    text-align:center;
    margin-left:-20%;
  }

/* name */

h1{
    /* font-family: lust-script-display, sans-serif; */
    font-family:'lust-script-display', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.47in;
    color:rgb(35, 100, 175);
}

/* section headers */

h2{
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-size: 18pt;
    color:rgb(35, 100, 175);
    line-height:24pt;
}

/* subheaders */

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    font-weight:300;
    font-size: 14pt;
    color:rgb(35, 100, 175);
    line-height:24pt;
}

/* 3 column sub headers */

h4{font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    font-weight:300;
    font-size: 14pt;
    color:rgb(35, 100, 175);
    line-height:24pt;

}
ul{
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    font-weight:300;
    /* list-style: height 25pt; */
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    font-weight:300;
}

.regular{
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    font-weight:300;
    color:black;
}

footer h3{
    font-size: 30px;
    position: absolute;
    margin-top:-60px;
    margin-left: 46%;
    text-align: center;
    font-family:'lust-script-display', sans-serif;
    font-weight: 600;
    color:rgb(35, 100, 175);
  }

@media screen and (max-width: 1300px){
    .container{
        display: grid;
        grid-gap: 3px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:

        "n"
        "r"
        "i"
        "c"
        "e"
        "x"
        "a"
        "s";
}
nav a{
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-size: 1em;
    color:rgb(35, 100, 175);
    position:relative;
    top:80px;
    margin: 0 auto;
    text-decoration:none; 
    overflow: hidden;
    
  }
  
  a{
    height: 90px;
  }
  
  nav a::before{
    position: absolute;
    content: '';
    bottom: 60px;
    width: 100px;
    height: 4px;
    transform: translateX(-100%);
    transition: .4s;
    background:linear-gradient(to left, #6a0dad,#0000ff,#72C347,#C4D82E,#F7CE32,#ffa500, #e63570);
    /* position: absolute;
    bottom: 2px; */
  }
  
  nav a:hover:before{
    transform: translateX(0);
    
  }
.rainbow-horizontal{
    width:100%;
}
#contact{
    margin-left: 1
    em;
    margin-top: 20px;
    
}

#experience{
    margin-left: 3em;
}

/* name */

h1{
    font-family:'lust-script-display', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48pt;
    color:rgb(35, 100, 175);
}

/* section headers */

h2{
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-size: 24pt;
    color:rgb(35, 100, 175);
    line-height:24pt;
}

/* subheaders */

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 24pt;
    font-weight:300;
    font-size: 24pt;
    color:rgb(35, 100, 175);
    line-height:24pt;
}

/* 3 column sub headers */

h4{font-family: 'Roboto', sans-serif;
    font-size: 24pt;
    font-weight:300;
    font-size: 24pt;
    color:rgb(35, 100, 175);
    line-height:24pt;

}
ul{
    font-family: 'Roboto', sans-serif;
    font-size: 24pt;
    font-weight:300;
    /* list-style: height 25pt; */
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 24pt;
    font-weight:300;
}

.regular{
    font-family: 'Roboto', sans-serif;
    font-size: 24pt;
    font-weight:300;
    color:black;
}  
}