*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box;
    border:dashed; */
    }

body {
  background-image: url("assets/website-bg-bigger.png");
  font-family: 'IM Fell English SC', serif;
  background-size:cover;
  background-position:center;
}
/* the main container */

.card{
 width:40%;
 height:50%;
  margin: 3em auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color:rgb(255, 255, 255);
  border-radius: 25px;
}

.front-card{

  background-image: url('assets/business-card-front-bg.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  grid-area:f;
  position: relative;
  min-width: 500px;
  min-height: 300px;
 
  
}
 
.back-card {
  background-image: url('assets/business-card-back-different.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  grid-area:b;
  position: relative;
  min-width: 500px;
  min-height: 300px;
 
}
h1{
  /* to left align text */
  font-size: 3em;
  margin-top: 20%;
  margin-left:17%;
  color:rgb(223, 201, 169); 
}

.back-text {
  margin-top: 30%;
  margin-left:20%;
}

h2{
  font-size: 1.5em;
  margin-top: 3%;
  margin-left: 23%;
  color:rgb(231, 211, 181)
}

h3{
  font-size: 3em;
}

h4{
  font-size: 2em;  
}

h5{
  font-size: .5em;
}



svg{
  fill:rgb(150, 73, 73);
  /* width:100%; */
  /* height:auto; */
  /* margin: 0 auto */
}

svg:hover{
  fill:rgb(206, 132, 132);
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1.5s; /* don't forget to set a duration! */
}
.icon-container{
  width:50%;
  margin:0 auto;
  margin-top:25%;
  gap:40px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}